<div class="bg-background min-h-screen flex flex-col justify-center items-center">

    <h3 class="font-normal text-3xl font-display mb-10">Trail<span class="text-primary">evy</span> Expense Budget App
    </h3>
    <div class="bg-white rounded-lg p-4 w-auto sm:w-96 md:w-80 lg:w-96 xl:w-130 shadow-2xl ">

        <form>
            <div class="text-center">
                <h1 class="text-black font-medium text-2xl">
                    Forgot Your Password?
                </h1>
                <p class="text-gray-400">Don't worry we'll send you reset instructions ,input your email.</p>
            </div>
            <div class="flex flex-col mt-3 mb-2">
                <label for="email" class="text-black  ">Email</label>
                <input type="email" formControlName="email"
                    [class.error]="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required','email')"
                    class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none"
                    id="email" name="email" placeholder="email" required>
                <small *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required','email')"
                    class="text-red-500">email is required</small>
            </div>


            <button type="submit"
                class="bg-primary text-black  py-2 px-4 rounded-lg w-full hover:opacity-80 transition mt-2 mb-4 duration-300 ">Reset Password</button>
        </form>
    </div>