<!-- YourComponent.component.html -->
<div class="flex bg-latestbg h-screen w-full">
    <!-- Sidebar Column -->
    <div class="w-2/12  p-6">
        <div class="px-8 ">
            <h1 class="text-4xl font-display">Trail<span class="text-primary">evy</span></h1>
        </div>
        <ul class="mt-4 pl-4 space-y-4">
            <li>
                <a href="#"
                    class="flex items-center rounded-xl justify-center w-full py-2 text-black hover:bg-white hover:text-black transition duration-300">
                    <div class="">
                        <fa-icon [icon]="faDashboard" class="text-lg text-primary"></fa-icon>
                    </div>
                    <span class="ml-2">Dashboard</span>
                </a>
            </li>
            <!-- second link -->
            <li>
                <a href="#"
                    class="flex items-center rounded-xl justify-center w-full py-2 text-black hover:bg-white hover:text-black transition duration-300">
                    <div class="">
                        <fa-icon [icon]="faExchange" class="text-lg text-primary"></fa-icon>
                    </div>
                    <span class="ml-2">Transactions</span>
                </a>
            </li>
            <!-- third link -->
            <li>
                <a href="#"
                    class="flex items-center rounded-xl justify-center w-full py-2 text-black hover:bg-white hover:text-black transition duration-300">
                    <div class="">
                        <fa-icon [icon]="faBudget" class="text-lg text-primary"></fa-icon>
                    </div>
                    <span class="ml-2">Set Budget</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Middle Column -->

    <div class="w-7/12 bg-white">
        <nav class="flex justify-between mt-8 px-4">
            <div class="font-medium text-lg">
                welcome Alvin
            </div>
            <div class="text-gray-400 text-lg">
                24 March, 2023
            </div>
        </nav>
        <div class="flex justify-between  space-x-2 p-4">
            <!-- Card 1 -->
            <div class="w-1/3">
                <div
                    class="relative flex flex-col min-w-0 shadow-md break-words bg-firstcard shadow-soft-xl rounded-xl bg-clip-border">
                    <div class="flex-auto p-4">
                        <div class="flex flex-wrap -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal text-sm">Income This Month</p>
                                    <h5 class="mb-0 font-bold">
                                        ksh 53,000
                                        <span
                                            class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                                <div
                                    class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tr from-primary  via-purple-600 to-primary  shadow-soft-2xl">
                                    <fa-icon [icon]="faMoney" class="text-lg relative top-3.5 text-white"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="w-1/3 ">
                <!-- Card content here -->
                <div
                    class="relative flex flex-col min-w-0 shadow-md break-words bg-secondcard shadow-soft-xl rounded-xl bg-clip-border">
                    <div class="flex-auto p-4">
                        <div class="flex flex-wrap -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal text-sm">Expense This Month</p>
                                    <h5 class="mb-0 font-bold">
                                        ksh 53,000
                                        <span
                                            class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                                <div
                                    class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tr from-primary  via-purple-600 to-primary  shadow-soft-2xl">
                                    <fa-icon [icon]="faWallet" class="text-lg relative top-3.5 text-white"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Card 3 -->
            <div class="w-1/3">
                <!-- Card content here -->
                <div
                    class="relative flex flex-col min-w-0 shadow-md break-words bg-thirdcard shadow-soft-xl rounded-xl bg-clip-border">
                    <div class="flex-auto p-4">
                        <div class="flex flex-wrap -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal text-sm">Savings This Month</p>
                                    <h5 class="mb-0 font-bold">
                                        ksh 53,000
                                        <span
                                            class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                                <div
                                    class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tr from-primary  via-purple-600 to-primary shadow-soft-2xl">
                                    <fa-icon [icon]="faPiggy" class="text-lg relative top-3.5 text-white"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- another card  -->
        <div
            class="relative flex flex-col min-w-0 mx-4 break-words shadow-md bg-gradient-to-r from-fourthcard via-thirdcard to-green-100 shadow-soft-xl rounded-xl bg-clip-border">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap -mx-3">
                    <div class="flex-none w-2/3 max-w-full px-3">
                        <div>
                            <p class="mb-0 font-sans font-semibold leading-normal text-sm">Today's Spending</p>
                            <h5 class="mb-0 font-bold">
                                ksh 53,000
                                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
                            </h5>
                        </div>
                    </div>
                    <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                        <div
                            class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 via-primary to-pink-500 shadow-soft-2xl">
                            <fa-icon [icon]="faCredit" class="text-lg relative top-3.5 text-white"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="px-4 mt-2">
            <app-transaction-table></app-transaction-table>

        </div>
    </div>

<!-- last column -->
    <div class="w-3/12 b p-4">
        <div class=" flex justify-end">
            <button class="flex items-center justify-center  hover:bg-opacity-60 p-2 w-30 m-4 h-10 bg-primary text-black rounded-md shadow-md">
                Deposit Money <span class="pl-2">+</span>
            </button>
        </div>
             
        <div class="bg-primary p-3 shadow-2xl rounded-md">
            
            <div class="mb-1 ">
                <label for="" class="text-lg font-semibold font-display">Total Balance:</label>
            </div>
            <div class=" text-center ">
                <span class="outline-none bg-transparent block font-mono ">ksh 2000</span>
            </div>
            <div class="w-full flex flex-row justify-between">
                <div class="w-full flex flex-col">
                    <label for="" class="font-display">Card holder</label>
                    <input type="text" id=""  value="Alvin kingwa" readonly class="outline-none bg-transparent font-mono">
                </div>
                <div class="w-1/4 flex flex-col">
                    <label for="">Expires</label>
                    <input type="text" id="" value="Null" readonly class="outline-none bg-transparent">
                </div>
            </div>
        </div>
    <app-line-chart></app-line-chart>

    </div>


</div>