<div class="bg-background min-h-screen flex flex-col justify-center items-center">

    <h3 class="font-normal text-3xl font-display mb-10">Trail<span class="text-primary">evy</span> Expense Budget App
    </h3>
    <div class="bg-white rounded-lg p-4 w-auto sm:w-96 md:w-80 lg:w-96 xl:w-120 shadow-2xl ">
        <div *ngIf="loginErrorMessage" class="text-red-500 mb-2">
            {{ loginErrorMessage}}
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col mt-3 mb-2">
                <label for="email" class="text-black  ">Email</label>
                <input type="email" formControlName="email"
                    [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"
                    class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none"
                    id="email" name="email" placeholder="email" required>
                <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"
                    class="text-red-500">email is required</small>
            </div>

            <div class="flex flex-col mb-4 relative">
                <label for="password" class="text-black ">Password</label>
                <input [type]="type" formControlName="password"
                    [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                    class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none"
                    id="password" name="password" placeholder="password" required>
                <span class="absolute mt-5 inset-y-0 right-0 pr-3 flex items-center">
                    <fa-icon [icon]="type === 'password' ? slashEye : faEye"
                        class="text-gray-400 cursor-pointer hover:text-black"
                        (click)="type = type === 'password' ? 'text' : 'password'"></fa-icon>
                </span>
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                    class="text-red-500">password required</small>
                <small *ngIf="loginErrorMessage === 'wrong_password'" class="text-red-500">Incorrect password</small>
                <small *ngIf="loginErrorMessage === 'server_down'" class="text-red-500">Could not reach server</small>
            </div>
            <button type="submit"
                class="bg-primary text-black py-2 px-4 rounded-lg w-full hover:opacity-80 transition duration-300">Sign
                In</button>
        </form>
        <div class="w-full flex justify-end mt-2">
            <button (click)="forgotPassword()" class="text-gray-400 underline hover:text-black text-xs pr-2">Forgot your
                password?</button>
        </div>
        <p class="mt-2 flex items-center justify-center font-light">
            <span *ngIf="loginMessage" class="text-green-500">{{ loginMessage }}</span>
            <span *ngIf="!loginMessage">Don't have an account? <span (click)="navigate()"
                    class="text-black font-normal underline hover:text-primary hover:cursor-pointer">Sign
                    Up</span></span>
        </p>
    </div>
</div>
