<nav class="flex justify-between mt-8 px-4">
    <div class="font-medium text-lg">All Transactions</div>
  </nav>
  
  <!-- transaction table -->
  <div class="bg-white m-4">
    <div class="overflow-x-auto shadow-xl h-height-trasaction-table rounded-md">
      <table class="min-w-full border-collapse table-auto">
        <thead class="text-xs uppercase bg-gray-300 dark:text-black sticky top-0">
          <tr class="text-left">
            <th scope="col" class="px-6 py-3 font-medium">Receiver</th>
            <th scope="col" class="px-6 py-3 font-medium">Categories</th>
            <th scope="col" class="px-6 py-3 font-medium">Amount Spent</th>
          </tr>
        </thead>
  
        <tbody *ngIf="filteredTransactions.length > 0">
          <tr *ngFor="let transaction of filteredTransactions" class="hover:bg-gray-100">
            <td class="px-4 py-2">
              <div class="flex items-center space-x-3">
                <div>
                  <p>{{ transaction.receiverName }}</p>
                  <p class="text-gray-500 text-xs font-bold tracking-wide">
                    {{ transaction.timestamp | date : "dd MMM, yyyy h:mm a" }}
                  </p>
                </div>
              </div>
            </td>
            <td class="px-4 py-2">
              {{ transaction.category ? transaction.category.name : "N/A" }}
            </td>
            <td
              class="px-4 py-2"
              [ngClass]="{
                'text-red-600': transaction.category,
                'text-green-600': !transaction.category
              }"
            >
              {{ transaction.amount | currency : "Ksh" }}
            </td>
          </tr>
        </tbody>
      </table>
  
      <div *ngIf="filteredTransactions.length === 0" class="text-center py-4 text-gray-500">
        Categories and their transactions will appear here
      </div>
    </div>
  </div>
  