<div class="bg-background min-h-screen flex flex-col justify-center items-center">

    <h3 class="font-normal text-3xl font-display mb-5">Trail<span class="text-primary">evy</span> Expense Budget App
    </h3>
    <div class="bg-white rounded-lg p-4 w-auto sm:w-96 md:w-80 lg:w-96 xl:w-120 shadow-2xl ">
        <div *ngIf="signupErrorMessage" class="text-red-500 mb-2">
            {{ signupErrorMessage }}
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col mb-2 sm:flex-row sm:justify-between items-start">
                <div class="flex flex-col w-full sm:w-1/2 mr-4">
                    <label for="firstName" class="text-black  ">First Name</label>
                    <input type="text" formControlName="firstName" placeholder="firstName"
                        [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')"
                        class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none"
                        id="firstName" name="firstName" required>
                    <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')"
                        class="text-red-500">first name required</small>
                </div>
                <div class="flex flex-col w-full sm:w-1/2">
                    <label for="secondName" class="text-black  ">Last Name</label>
                    <input type="text" formControlName="secondName"
                        [class.error]="signUpForm.controls['secondName'].dirty && signUpForm.hasError('required','secondName')"
                        class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none"
                        id="secondName" name="secondName" placeholder="last name" required>
                    <small
                        *ngIf="signUpForm.controls['secondName'].dirty && signUpForm.hasError('required','secondName')"
                        class="text-red-500">last name required</small>

                </div>
            </div>
            <div class="flex flex-col mb-2">
                <label for="email" class="text-black  ">Email</label>
                <input type="email" formControlName="email"
                    [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"
                    class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none"
                    id="email" name="email" placeholder="email" required>
                <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"
                    class="text-red-500">email required</small>

            </div>

            <div class="flex flex-col mb-2 relative">
                <label for="password" class="text-black">Create Password</label>
                <input [type]="type" formControlName="password"
                    [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"
                    class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none pr-10"
                    id="CreatePass" name="password" placeholder="password" required>
                <span class="absolute mt-5 inset-y-0 right-0 pr-3 flex items-center">
                    <fa-icon [icon]="type === 'password' ? slashEye: faEye"
                        class="text-gray-400 cursor-pointer hover:text-black"
                        (click)="type = type === 'password' ? 'text' : 'password'"></fa-icon>
                </span>
            </div>
            <div class="flex flex-col mb-4">
                <label for="password" class="text-black ">Confirm Password</label>
                <input [type]="type" formControlName="password"
                    [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"
                    class="border border-gray-300 focus:border-primary rounded-lg p-2 w-full focus:outline-none"
                    id="ConfirmPass" name="password" placeholder="password" required>
                <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"
                    class="text-red-500">password is required</small>
            </div>
            <button type="submit"
                class="bg-primary text-black  py-2 px-4 rounded-lg w-full hover:opacity-80 transition duration-300 ">Sign
                Up</button>


        </form>
        <p class=" mt-2 flex items-center justify-center font-light">
            <span *ngIf="signupMessage" class="text-green-500"> {{signupMessage}} </span>
            <span *ngIf="!signupMessage">already have an account?<span 
                    class="text-black font-normal underline hover:text-primary hover:cursor-pointer">login</span>
            </span>
        </p>
        <div
            class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-400 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-400">
            <p class="mx-4 mb-0 text-center font-semibold dark:text-black">
                Or
            </p>
        </div>

        <button
            class="w-full mb-2 flex items-center justify-center bg-background border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm  text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="800px" height="800px" viewBox="-0.5 0 48 48" version="1.1">
                <title>Google-color</title>
                <desc>Created with Sketch.</desc>
                <defs> </defs>
                <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Color-" transform="translate(-401.000000, -860.000000)">
                        <g id="Google" transform="translate(401.000000, 860.000000)">
                            <path
                                d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
                                id="Fill-1" fill="#FBBC05"> </path>
                            <path
                                d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
                                id="Fill-2" fill="#EB4335"> </path>
                            <path
                                d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
                                id="Fill-3" fill="#34A853"> </path>
                            <path
                                d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
                                id="Fill-4" fill="#4285F4"> </path>
                        </g>
                    </g>
                </g>
            </svg>
            <span class="text-black">Sign Up with Google</span>
        </button>

    </div>


</div>